<p>
  <strong>Title:</strong>
  <%= @post.title %>
</p>

<p>
  <strong>status:</strong>
  <%= @post.status %>
  <% Post::STATUSES.each do |status| %>
    <%= link_to_unless @post.status.eql?(status.to_s), status, update_status_post_path(@post, status: status), method: :patch %>
  <% end %>
</p>

<p>
  <strong>Content:</strong>
  <%= simple_format(@post.content) %>
</p>

<%= link_to 'Edit', edit_post_path(@post) %> |
<%= link_to 'Back', posts_path %>
